body{
    background-image: url("/static/images/first.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container{
    width: 30%;
    height: 90%;
    background-color: white;
    margin-left: 38%;
    margin-top: 15%;
    padding-bottom: 1%;
    padding-left: 2%;
}

.btn
{
    margin-left: 35%;
    margin-top: 3%;
    width: 20%; 
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}
@media (max-width:880px)
{
    body
    {
        background-image: url("/static/images/first.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container{
        width: 45%;
        height: 90%;
        background-color: white;
        margin-left: 38%;
        margin-top: 15%;
        padding-bottom: 1%;
    }

    .container input
{
    margin-left: 2%;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 40%;
    
}

.btn
{
    margin-left: 40%;
    margin-top: 3%;
    width: 27%; 
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

}